.utility {
  padding-top: 60px;
  padding-bottom: 80px;
  font-size: fluid-font(1.8rem, 1.6rem);
  line-height: 150%;

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--clr-default-700);
  }
}