.about {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: var(--clr-default-200);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__info {
        margin-right: 15px;
        max-width: 670px;

        p {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: "Gotthard", sans-serif;
            font-weight: 400;
            line-height: 120%;

            @media (max-width: 992px) {
                margin-top: 15px;
            }
        }

        @media (max-width: 992px) {
            margin-right: initial;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: fluid-font(2rem, 1.6rem);
        line-height: 120%;
    }

    &__list {
        margin-left: 35px;

        @media (max-width: 992px) {
            margin-left: initial;
        }
    }

    &__item {
        position: relative;
        padding-left: 30px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 18px;
            height: 13px;
            background-image: url("../img/about/done.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 576px) {
                width: 13px;
                height: 8px;
            }
        }

        @media (max-width: 576px) {
            padding-left: 20px;
        }
    }

    &__right {
        position: relative;

        iframe {
            max-width: 470px;

            @media (max-width: 767px) {
                max-width: 100%;
            }

            @media (max-width: 460px) {
                height: 220px;
            }
        }

        &-label {
            position: absolute;
            left: -139px;
            bottom: 40px;
            border-radius: 3px;
            padding: 15px 25px;
            box-shadow: 0 10px 25px rgba(81, 86, 234, 0.12);
            background-color: var(--clr-default-100);

            @media (max-width: 1200px) {
                left: -100px;
                bottom: 20px;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        @media (max-width: 992px) {
            margin-top: 20px;
        }
    }

    &__item + &__item {
        margin-top: 10px;
    }

    @media (max-width: 767px) {
        padding-top: 75px;
        padding-bottom: 50px;
    }
}