.articles {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--clr-default-200);

    &__list {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 992px) {
            grid-gap: 25px 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        &-img {
            position: relative;
            margin-bottom: 30px;
            padding-top: 65%;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media (max-width: 992px) {
                margin-bottom: 10px;
            }
        }

        &-title {
            margin-bottom: 15px;
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            font-size: fluid-font(2.1rem, 1.6rem);
            line-height: 140%;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: var(--clr-default-800);


        }

        &-text {
            line-height: 135%;

            p + p {
                margin-top: 10px;

                @media (max-width: 992px) {
                    margin-top: 5px;
                }
            }
        }

        &:not(:first-child) {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }

    &__item + &__item {
        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        padding: 0 15px;
        height: 55px;
        width: 100%;
        max-width: 330px;

        @media (max-width: 460px) {
            max-width: initial;
        }
    }

    @media (max-width: 992px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}